@CHARSET "ISO-8859-1";

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

.btn-teal {
	margin: 10px 4px;
	background: teal;
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
}

a.link {
	text-decoration: none;
	border-bottom: 1px dashed;
	color: #993333;
}

.ui-dialog.dlg-teal {
	text-align: center;
}

.dlg-teal .ui-dialog-titlebar {
	background: teal;
}

.dlg-teal span.ui-icon {
	background-image: url("images/ui-icons_ef8c08_256x240.png");
	background-position: -32px -192px;
}